
.main{
    width: 100%;
    height: 100%;
    display: block;
}
/* Navbar */

#Header{
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    height: var(--Header-height);
    background-image: linear-gradient( 0 , #fd6032 , #f7442e);
}

.Header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-nav);
}



/* Vì thẻ Ul mặc đinh paddingleft: 40px . nên phải chỉnh lại  */
.Header__list-nav{
    padding-left: 0;
}

.Header_list{
    list-style-type: none;  
    position: relative;
    display: inline-block;
}

.Header_list:not(:last-child):after{
    content: "";
    padding-right: 1rem;
    padding-left: 1rem;
}
    
.Header_item{
    color: var(--white-color);
    font-size: 1.3rem;
    text-decoration: none;
}

.Header_item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.Opacity_unset:hover{
    color: var(--white-color);
}

.Header_icon
{   
    width: 18px;
    padding: 0 4px;
    font-size: 1.6rem;
}

.Header__User-img{

    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    transform: translateY(0.4rem);
}



/* Header_QR__Code */

.QR_code{
    display: none;
    position: absolute;
    top: 140%;
    height: 24rem;
    width: 18.4rem;
    background-color: var(--white-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
    will-change: opacity ;
    animation: Fadein ease-in-out 0.2s;
    z-index: 1;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    cursor: pointer;
}

.QR_code::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    top: -0.15rem;
    left: 0;
    
}

.Header_list:hover .Notify,
.Header_list:hover .QR_code{
    display: block;
}

.QR__dowload{
    width: 100%;
}

.QR-app{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    padding: 0 1rem;
}

.QR__app_dowload{
    width: 7rem ;
    height: 1.6rem;
    margin-bottom: 0.8rem;
}


@keyframes Fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
@keyframes growth{
    0%{
        transform:scale(0);
        opacity: 0;
    }

    100%{
        transform:scale(1);
        opacity: 1;
    }   
}



#Header .Header__notify{
    width: 40rem;
    height: 55.0rem;
    background-color: var(--white-color);   

}

#Header .Header__notify-title{
    
    display: flex;
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    align-items: center;
    color: rgba(0,0,0, 0.26);
    padding: 1.8rem 1.2rem;
    cursor: text;
}

#Header .Header_notify-content{
    display: flex;
    padding: 1rem 1.4rem;
}



#Header .Header_notify-content:hover
{
    background-color: #f8f8f8;
    cursor: pointer;
}



.Header_notify-img{
    flex-basis: 10%;
    height: 4rem;
    width: 4rem;
}

#Header .Header_notify-disc{
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    flex-basis: 90%;
}

#Header .Header_notify-item-title{
    font-size: 1.35rem;
    font-weight: 410;
    padding-bottom: 0.4rem;
    color: rgba(0, 0, 0, 0.8);


}
#Header .Header_notify-item-disc{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.54);
    word-wrap: break-word;     /*chức năng k tràn chử ra box đã set*/

}

    
.Header__notify-Btn{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Header__notify-Btn-item{
    width: 100%;
    background: #f0ebeb;
    border: none;
    padding: 1.2rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.Header_User_list{
    width: 15rem;
    height: 12rem ;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    list-style: none;
}

.Header_User-item:hover{
    background-color: rgba(184, 178, 173, 0.1);
    color: rgb(70, 180, 70);
    transform: scale(1.01);
    transition: all 0.0001s ease;
}

.Header_User-item{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    flex-basis: 33.33333%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: 400;
    text-indent: 1.8rem;
    z-index: 1;
    border: none;
}

/* End__Navbar */

/* Row__Search__Begin */

.Header_with_Search{
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height-search);
    padding: 1.6rem 0 1rem 0;
}

.Cover_logo{
    width: 202px;
    height: 59px;
    padding: 0 40px 0 0 ;
}

.header_logo{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.Cover__Search{
    width: 84rem;
    position: relative;
    flex: 1;
}

.Cover_search_type{
    display: flex;
    flex:1;
    height: 4rem;
    background-color: var(--white-color);
    border-radius: 0.3rem;

}

.type_search{
    height: 100%;
    flex : 1;
    font-size: 1.4rem;
    color: var(--text-color);
    border: none;
    outline: none;
    padding: 0.4rem 1.6rem;
    border-radius: 0.3rem;
}

.Cover_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 13.8rem;
    height: 5.9rem;
}

.Cover_cart:hover{
    transition: all 0.05s ease;
    transform: scale(1.1);
}

.Cart_icon{
    display: block;
    font-size: 3.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.number_Cart{
    display: block;
    position: absolute;
    line-height: 17px;
    width: 38px;
    background-color: var(--white-color);
    color: #ee4d2d;
    font-size: 14px;
    text-align: center;
    border-radius: 2.75rem;
    border: 2px solid #ee4d2d;
    top: 4px;
    left: 52%;
    cursor: pointer;
}

.history_item:hover,
.Search__button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.Search__button{
    display: flex;
    width: 6.0rem;
    height: 3.4rem;
    background-color: #fb5533;
    margin :0.3rem;
    border-radius: 0.3rem;
}

.Search__button-icon{
    margin: auto; 
    font-size: 1.4rem;
    color: var(--white-color);

}

.Search___history{
    margin-top: 0.4rem;
    color:rgba(0, 0, 0, 0.54)
}

.history_item{
    font-size: 1.2rem;
    color : #ffffffe6 ;
    padding-right: 1.3rem;    
}


.type_search:focus ~ .History_page{
    display: block;
    cursor: pointer;
}

.History_page{
    display: none;
    position: absolute;
    height: 16rem;
    width: 76.8rem;
    background-color: white;
    top: 45px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    border-radius: 2px;
    z-index: 100;
}

.History_list{
    display: flex;
    flex-direction: column;
}

.history_click:hover{
    background-color: #f8f8f8;
    border-radius: 2px;
}


.history_click{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 24px;
    font-size: 1.4rem;
    color: rgba(0,0,0,.8);
    padding: 20px 15px ;
    
}

.support_flex{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.history_sale-img{
    height: 24px;
}


/* Content - Section */
.Content{
    display: block;
    width: 100%;
    margin-top: var(--Header-height);
}   

.Home_page-out{
    position: relative;
    background:#f5f5f5 url("https://cf.shopee.vn/file/1c3ed3868e30927512fc02b3e75840f2") top center /contain no-repeat ;    
    width: 100%;
    padding-bottom: 70px;
    top: 0;
    left: 0;
    right: 0;
    
}

.banner-outsize{
    position: fixed;
    background: url("https://cf.shopee.vn/file/7bb454e90b50439b3f87fcad514f19e4") bottom center /contain no-repeat ;
    z-index: 999;
    width: 82px;
    height: 82px;
    bottom: 0%;
    right: 5%;
    transform: translate(25%, -125%);
    cursor: pointer;
}

/* Area__1 __ Slider*/

.Banners{
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 115px 115px;
    padding-top: 30px;
    grid-gap: 6px   ;
}

.Layouts_banners{
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.img-slide img{
    width: 100% ;
    height: 100% ;
    object-fit: cover;
}

.banner{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}


.banner_img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.banner-L{
    position: relative;
    grid-column:1/3;
    grid-row:1/3;
    overflow: hidden;
}



.sub_banners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 110px;
    margin-top: 10px;
    padding: 0 8px;
    grid-gap: 20px;
    background: var(--white-color);

}

.sub_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex : 1;
}

.sub_banner-item:hover{
    opacity: 1;
    transform: translateY(-1.5px);

}

.sub_banner-item{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 ;
    cursor: pointer;
}

.Sub_banner-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 8px;
}


.sub-banner-disc{
    color: black;
    font-size: 13px;
    text-align: center;
    flex:1;
    flex-shrink: 0;
    margin-top: auto;
}




/* Area__2 __ Goods_ global*/
.Good__global-titles{
    display:block;
    position: relative;
    width: 100%;
}

.global-top-img{
    display: block;
    width: 100%;
}

.Homepage_Content{
    display: block;
    position: relative;
    width: inherit;
    height: 300px;
    overflow: hidden;
}

.Good_img_content{
    display: block;
    width: 100%;
    height: 100%;
}


.Good_body_content{
    width: 100%;
    position:absolute;
    padding: 0 16.5px;
    top: 0;
}

.Good_label_top{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: rgb(238, 77, 46);
    padding: 0 16px;
    font-weight: 500;
}

.Name_lable{
    cursor: text;
}

.Name_lable2{
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}


.Good_cover_content{
    width: 100%;
    height: inherit;
}

.Good_products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 238px;
    grid-column-gap: 2px;    
}

.Good_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    position: relative;
    cursor: pointer;
}


.product_img{
    width: 100%;
    height: 100%;
    margin: 0 1px 15px;
    object-fit: cover;
    flex-shrink: 0;
    flex :1;
}



.Good_product-price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgb(238, 77, 46);
    padding-top: 15px;
}

.Good_product-price .vnd_icon{
    font-size: 12px; 
    margin: 0 4px 4px 4px;
    flex: 1;
}


.Good_discount{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 44px;
    background-color: rgba(255,212,36,0.9);
    text-transform: uppercase;
    padding: 4px 2px 3px;
}


.Good_discount::after{
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-style: solid;
    border-width: 0 22px 8px 22px;
    border-color: transparent rgba(255,212,36,0.9);
}

.Good_cover-discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    line-height: 1.4;
}

.discount-price{
    color: #EE4D2D;
}

.discount-price2{
    color : white;
}

.banner-L:hover .good_scroll{
        display: block  ;
}

.Good_footer{
    width: 100%;
    overflow :hidden;
}

.good-footer-img{
    display: block;
    width: 100%;
}



    /* Area_3_List_Small */



.List_Products-S{
    width: 100%;
    height: 374px;
    margin-top: 20px;
    background-color: var(--white-color);
}

.List_Product_items{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;

}

.Header_Title-S{
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 62px;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    line-height: 62px;
    padding : 0 20px;
    cursor: text;
}

.Product-s{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    color: rgba(0,0,0,0.8);
    padding: 12px 10px;
    border: 1px solid rgb(242, 242, 242);
    animation: Fadein2 linear 0.2s;
}

.Product-s:hover{
    cursor: pointer;
    box-shadow: 1px 0.8px 1.8px rgb(150 140 141 / 80%);
    transition: top linear 0.03s;
    top: -2px;
}

.product-s-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.product-name-s{
    font-size: 13px;
    flex: 1;
    margin-top: auto;
    text-align: center;
}


/* Flash_Sale-Section */

.Flash_sale_Area{
    height: 332px;
    width: 100%;
    margin-top: 20px;
    background-color: var(--white-color);
    margin-bottom: 20px;
}

.Header_Title-S > .FS-size-img{
    width: 130px;
    height: 30px;
    object-fit: contain;
}

.border_top{
    border-top: 1px solid rgb(242, 242, 242);
}


.Good_product-item{
    position: relative;
    width: 173px;
    height: 173px;
}

.product_Freeship_Xtra{
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    bottom: 0;
    left: 0;
}

.Flase_sale_price{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 156px;
    height: 16px;

}

.Percentage_saled{
    margin-top: 4px;
    position: relative;
    width: 100%;
    height: 16px;
    border-radius: 18px;
    background :#ffbda6;
    text-align: center;
    font-size: 12px;
    color:#fff;
}

.Percent-color{
    position: absolute;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #ed2a15;
    height: 100%;
    top: 0;
    left: 0;
}


.Percent_fire{
    content: "";
    position: absolute;
    top :50%;
    left:0;
    transform: translate(0, -70%);
}

.fire_img{
    width: 22px;
    height: 24px;
}   

.Font_Price-Fs{
    font-size: 16px;
}


.Baner_Area4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 110px ;
    margin-bottom: 20px;
}

.banner_img-area4{
    cursor: pointer;
}

/* List_Area5 */

.List_Products-Area5{
    width: 100%;
    height: 172px;
    background-color: #fff;
    margin-bottom: 20px;
}

.List_Area6_header,
.List_Area5_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    height: 61px;   
    color: rgba(0,0,0,.54);
    font-weight: 400;
    padding : 0 20px;
    cursor: text;

}

.List_view_add{
    font-size: 14px;
    color: #ee4d2d;
    cursor: pointer;
}

.List_look-for{
    color: #ee4d2d;
}


.item_area5-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
}


.Content_Area5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: calc(100%-61px);

}


.List_items-area5{
    display: flex;
    border-top: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    cursor: pointer;
}



.List_content-area5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 130px;
    height: 100px;
    padding: 16px 12px 46px 18px;

}

.item_area5{
    font-size: 14px;
    color: rgb(75, 69, 69);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.item__total_area5{
    font-size: 13px;
    color: var(--text-color);
    padding-top: 5px;

}


/* Lookfor-Priority-Area6 */


.Look-for-Priority-Area6{
    display: block;
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: 20px;
}

.Label_Content-area6{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-template-rows: 100%;
   border-top: 2px solid rgb(242, 242, 242);
}

.Content_items_area6{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 290px;
    padding: 20px 10px;
}

.image-center-area6{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}



.content_item_area6{
    position: relative;
    width: 100%;
    height: 200px;
    cursor: pointer;
}


.label_Top-area6{
    display: block;
    position: absolute;
    width: 32px;
    height: 40px;
    top: 0;
    left: 0;
}

.label_Bottom-area6{
    position: absolute;
    width: 100%;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.26);
    color: var(--white-color);
    left: 0;
    bottom: 0;
    font-size: 14px;
    text-align: center;
}

.Name_product-area6{
    color: var(--text-color);
    font-size: 16px;
    width: 180px;
    height: 50px;
    word-break: break-all;
    line-height: 1.5;
    padding: 6px 2px 0 2px;
    text-align: center;
    Flex:1;
    cursor: pointer;
}

/* Content_main */

.Container-main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Header_content-main{
    position: sticky;
    top: var(--Header-height);
    z-index: 9;
    width: 100%;    
    height: 61px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    box-shadow: 1px 4px 2px rgba(92, 87, 87, 0.025)
}

.Suggest-today{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 61px;
    font-size: 16px;
    color: rgb(238, 77, 45);
    border-bottom: 4px solid rgb(238, 77, 45) ;
    text-align: center;
    text-transform: uppercase;
    font-weight: 410;
    line-height: 1.5;
}

.Suggest-baner-s{
    width: 252px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Suggest-baner-image{
    width: 160px;
    height: 20px;
    object-fit: cover;
}

    /* Content-main */

.Container_products-main{
    width: 100%;
    Margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(188px , 1fr));
    grid-template-rows: 1fr ;
    grid-gap:10px;
    

}

.Products_main-img:hover,
.Products_main-img:hover .hover-father{
    border: 1px solid #f25220;
    border-radius: 2px;
    display: block;
    cursor: pointer;
    animation: Fadein2 linear 0.01s;
}

.Products_main-img{
    width: 100%;
    height: 298px;
    position:  relative;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 0.3px 0.2px rgba(197, 188, 188, 0.7);
}

.hover-father{
    display: none;
    position: absolute;
    top: 98%;
    left: -2px;
    background-color: #f25220;
    color: var(--white-color);
    width: 102%;
    font-size: 14px;
    z-index: 1;
    height: 30px;
    text-align: center;
    line-height: 30px;
}



.Cover-img-main{
    position: relative;
    height: 188px;
    background-color: var(--white-color);
}

.img_Banner_main,
.img_overlayXtra,
.main-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Banner_main{
    position: absolute;
    width: 64px ;
    height: 21px;
    background-color: #D0011B;
    top: 6%;
    left: -2px;    
}

.img_Banner_main{
    padding: 3px 4px;
}

.Banner_main::before{
    position: absolute;
    content: "";
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: brown transparent transparent transparent;
    transform: rotate(-135deg);
    top: 90%;
    left: 0.8px;
}

.Banner_main2::after{
    position: absolute;
    content: "yêu thích";
    background-color: #f25220;
    width: 58px;
    height: 16px;
    color: var(--white-color);
    top: 6%;
    left: -2px;
    text-align: center;
}

.Banner_main2::before{
    position: absolute;
    content: "";
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #f25220 transparent transparent transparent;
    transform: rotate(-135deg);
    top: 13.5%;
    left: -1px;
}

.Banner_main3::after{
    position: absolute;
    content: "Mall";
    background-color: #d0011b;
    width: 46px;
    height: 16px;
    color: var(--white-color);
    top: 6%;
    left: -2px;
    text-align: center;
}

.Banner_main3::before{
    position: absolute;
    content: "";
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #d0011b transparent transparent transparent;
    transform: rotate(-135deg);
    top: 13.5%;
    left: -1px;
}



.sub_image-main{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.content-product{
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--white-color);
}

.title_product-main{
    width: 100%;
    height: 32px;
    font-size: 12px;
    overflow-wrap: break-word;
    overflow :hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.Cover_discount-s{
    display: flex;
    width: 100%;
    height: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.discount-banner-s{
    display: block;
    height: 16px;
    font-size: 10px;
    color: white;
    background-color: #f69113;
}


.sub-discount{
    display: block;
    width: 5px;
    height: 16px;
    color: #f69113;
}

.Price_status-main{
    width:100%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.Price_main{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    color: rgb(238, 77, 46);
}

.status_main{
    color: #0000008a;
    font-size: 12px;
}

.Price_main .vnd_icon{
    font-size: 12px;
    padding-right: 2px;
}


.Click-view-add{
    display: flex;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    
}

.btn_view-add{
    height: 40px;
    width: 348px;
    background-color: var(--white-color);
    margin: auto;
    text-align: center;
    line-height: 40px;
    color: #555;
    padding: 0 20px;
    font-size: 12px;
    border: 1px solid #e8e8e8;
}

.btn_view-add:hover{
    background-color: #00000005;   
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.0001s ease;
}


.Footer{
    position: relative;
    width: 100%;
    border-top: 4px solid #ee4d2d;
    height: inherit;
    bottom: 0;
    left: 0;
    right: 0;
}

.Role-content{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Role-content > h1{
    padding: 5px 0;
    font-weight: 700;
}
.Role-content > span{
    margin: 10px 0;
    font-size: 12px;
    line-height: 1.4;
    cursor: text;
}

.Role-content > span a{
    color: #1155cc;
    cursor: pointer;
}


.Category{
    border-top: 1px solid #ccc;
    padding-top: 60px;
    padding-bottom: 85px;
    width: 100%;
}

.title_cate{
    font-size: 14px;
    color: rgba(20, 3, 3, 0.54);
    font-weight: 700;
    cursor: text;
}


.content-fashion-N{
    padding-top: 10px;
    list-style: none;
    line-height: 1.5;
}

.text-social:hover,
.about_item:hover,
.list-N:hover,
.Title_first:hover{
    color: #EE4D2D;
    cursor: pointer;

}

.Title_first{
    font-size: 12px;
    color: rgba(20, 3, 3, 0.54);;
    font-weight: 700;
    text-transform: uppercase;
    padding : 10px 0 6px;
}
.list-N{
    font-size: 12px;
    color: rgba(0,0,0,.54);

}

.Cover-service-shope{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



            /* About-Footer */


.About_information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 25px 0;
}

.title_about{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,.54);
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: text;
}

.about-shopee{
    width: 100%;
    height: 100%;
    background-color: #fbfbfb ;
}

.about_item{
    list-style: none;
    margin-bottom: 12px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding:0;
    text-transform: capitalize;
}


.card_img{
    background:url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4bdefde103e8aa245cd17511adde9f89.png) top center /cover no-repeat;
}

.Cover-payment{
    width: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 29px 29px 29px;
    grid-gap: 8px;
    align-items: center;
}


.visa-card{
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
    width: 55px; height: 18px;
}

.mastercard{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 49.416909620991255% 41.891891891891895%;
    width: 55px; height: 29px;
}

.jcb-car{
    background-size: 1347.2727272727273% 769.5652173913044%;
    background-position: 38.48396501457726% 38.311688311688314%;
    width: 55px; height: 23px;
}

.blue-card{
    background-size: 1482% 804.5454545454545%;
    background-position: 1.447178002894356% 6.451612903225806%;
    width: 55px; height: 24px;
}

.COD-card{
    background-size: 1482% 610.3448275862069%;
    background-position: 59.91316931982634% 63.513513513513516%;
    width: 50px; height: 29px;
}

.gop-card{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 19.97084548104956% 66.21621621621621%;
    width: 55px; height: 29px;
}

.shopee-pay{
    background-size: 741% 931.578947368421%;
    background-position: 71.9188767550702% 6.329113924050633%;
    width: 55px; height: 12px;
}


.Shopee-Ex{
    background-size: 667.5675675675676% 983.3333333333334%;
    background-position: 65.71428571428571% 35.22012578616352%;
    width: 55px; height: 10px;

}


.Giao-tk-ex{
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 19.97084548104956% 37.735849056603776%;
    width: 55px; height: 18px;

}


.GHN-ex{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 9.037900874635568% 40.54054054054054%;
    width: 55px; height: 29px;

}


.Vt-post{
    background-size: 578.90625% 138.28125%;
    background-position: 88.90701468189233% 100%;
    width: 55px; height: 40px;
}


.VN-post{
    background-size: 1347.2727272727273% 655.5555555555555%;
    background-position: 1.4577259475218658% 72.66666666666667%;
    width: 55px; height: 27px;
}


.JT-post{
    background-size: 1347.2727272727273% 1106.25%;
    background-position: 95.6268221574344% 6.211180124223603%;
    width: 55px; height: 16px;
}


.Grab-Ex{
    background-size: 552.9850746268656% 610.3448275862069%;
    background-position: 29.9835255354201% 6.756756756756757%;
    width: 55px; height: 15px;
}


.ninja-ex{
    background-size: 1235% 680.7692307692307%;
    background-position: 55.947136563876654% 6.622516556291391%;
    width: 55px; height: 15px;
}


.best-Ex{
    background-size: 1029.1666666666667% 590%;
    background-position: 13.452914798206278% 6.802721088435374%;
    width: 55px; height: 15px;
}

.Fb{
    background-size: 2315.625% 553.125%;
    background-position: 1.4104372355430184% 35.86206896551724%;
}

.text-social{
    font-size: 12px;
    padding-left: 35px;
    color: rgba(0,0,0,.54);
}

.ins{
    background-size: 2315.625% 553.125%;
    background-position: 29.90126939351199% 40.689655172413794%;
}

.linked{
    background-size: 2315.625% 553.125%;
    background-position: 46.403385049365305% 6.896551724137931%;
}

.size-social{
    margin : 20px 10px 4px 0;

    width: 16px;
    height: 16px;
}

.about-dowload-socials{
    width: 230px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about_QR{
    width: 86px;
    height: 86px;
    margin-right: 15px;
    cursor: pointer;
}

.about_app-icon{
    width: 80px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.National-Area{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.Nationals,
.Save-condition{
    cursor: text;
}


    /* Footer-Area-3 */

.Contact-Security{
    width: 100%;
    background-color: #f5f5f5;
    color: rgba(0,0,0,.65);
    font-size: 12px;
    padding : 40px 0 30px 0;

}

.Terms-conditions{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.title_terms{
    position: relative;
    padding: 0 25px;
    color: rgba(0,0,0,.54);
    font-weight: 400;
    cursor: pointer;
}

.title_terms:not(:last-child)::after{
    position: absolute;
    content: "";
    height: 14px;
    border-right:1px solid #e7e7e7; 
    top: 0;
    right: 0;
}


.Register-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 12px 0;
}


.register1{
    background-size: 617.5% 393.3333333333333%;
    background-position: 34.13848631239936% 84.0909090909091%;
    width: 120px;
    height: 45px;
    cursor: pointer;
}

.register2{
    background-size: 1543.75% 368.75%;
    background-position: 100% 35.65891472868217%;
    width: 48px;
    height: 48px;
    cursor: pointer;

}

.padding-size25{
    margin: 0 25px;
}

.Contact-name{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    cursor: text;
}

.Contact-address{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.address-shopee{
    margin-top: 8px;
}

